<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <nav>
        <div class="brand">
            <h2>TheGoodPlan</h2>
        </div>
        <a href="/register">Register</a>
    </nav>

    <main>

        <div class="container-form">

            <h1>login</h1>

            <form action="passport/auth/login" method="post" class="form-group">
                <!-- <label for="email">Email</label>
            <input type="email" name="email" id="email"> -->
                <label for="email">email</label>
                <input type="text" name="email" id="email">

                <label for="password">Password</label>
                <input type="password" name="password" id="password">

                <button type="submit">Login</button>
            </form>

        </div>

    </main>
</body>

</html>